*{
    box-sizing: border-box;
}
body{
    background-color: #083b4c;
    font-family: Arial, Helvetica, sans-serif
}

#griglia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.title{
    text-align: center;
    padding: 64px 0px;
    color: #fff;
}

.box{
    max-height: 100%;
    width: calc((100% / 7) - 20px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* aspect-ratio: 1 / 1; */
}

.box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.default-color{
    background-color: #1289b2;
}
.fizz{
    background-color: #08d6a0;
}

.buzz{
    background-color: #ffd166;
}

.fizz-buzz{
    background-color: red;
}